{
  "presets": ["env", "react", "stage-3"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "plugins": [
    "syntax-dynamic-import",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "lance": "./node_modules/lance-gg/es5"
        }
      }
    ]
  ],
  "sourceMaps": true,
  "retainLines": true
}
