node_modules
dist/bundle.js
.idea/*
yarn.lock
yarn-error.log
npm-debug.log
*.trace

package-lock\.json

notes\.txt

\.vscode/

test\.bmp
*.DS_Store
.env
dist/bundle\.js\.map

.m

dist/main.js

src/index.js
dist/*

*.log
