@mixin center {
  left: 0;
  right: 0;
  top: 8vh;
  margin: auto;
}

body {
  @import "../CSS/Common.scss";
}

#header .navbar {
  margin: 0px;
  background-color: black;
  border-color: #ff87c7;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  display: flex;
  flex-wrap: nowrap;
  max-height: 53.53px;

  #master {
    display: flex;
    flex-direction: row;
  }

  #text {
    color: white;
  }

  #signin {
    margin: 0 auto;
  }

  .hud-button {
    border: 1px solid #707070;
  }

  .navbar-text {
    margin: 0px;
  }

  // built-in to navbar
  .container {
    margin-right: 0px;
  }

  @import "../CSS/Common.scss";
}

.matchmaking {
  background-color: black;
  height: calc(100vh - 50px);

  .matchmaking-box {
    @include center;
    display: flex;
    width: 60%;
    max-width: 80%;
    min-width: 300px;
    flex-wrap: nowrap;
    height: 92vh;
    flex-direction: column;
  }

  .title-box {
    display: flex;
    width: 60vw;
    max-height: 15vw;
    max-width: 80vw;
    min-width: 300px;
    flex-direction: row;
    flex: 8em;
  }

  .img-container {
    min-height: 100%;
    flex: 30%;
    display: block;
    flex-wrap: wrap;
  }

  .player-img {
    display: block;
    text-align: center;
    margin: auto;
    width: 9vw;
  }

  .title {
    color: #ff87c7;
    font: 300 1em "Lato", sans-serif;
    font-size: 10vw;
    text-align: center;
    flex: 70%;
    flex-wrap: wrap;
    display: block;
  }

  .body-box {
    flex-direction: row;
    width: 100%;
    flex: 50%;
    display: flex;
  }

  .btn-cont {
    flex: 50%;
    margin-bottom: 20vh;
  }

  .btn-row-1 {
    display: block;
    width: 4vw;
    margin-left: auto;
    margin-right: auto;
    flex: 50%;
    flex-direction: row;
  }

  .btn-row-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex: 50%;
    flex-direction: row;
    text-align: center;
    font: 300 2vw "Lato", sans-serif;
  }

  .large-btn {
    position: relative;
    margin: auto;
    top: 10%;
    width: 15vw;
    min-width: 50px;
    min-height: 100px;
    height: 25vh;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .btn-1 {
    left: 40%;
  }

  .btn-2 {
    left: 10%;
  }
}
