@mixin center {
  left: 0;
  right: 0;
  top: 8vh;
  margin: auto;
}

#header .navbar {
  margin: 0px;
}

.matchmaking {
  background-color: black;
  height: calc(100vh - 50px);

  .matchmaking-box {
    @include center;
    display: flex;
    width: 60%;
    max-width: 80%;
    min-width: 300px;
    flex-wrap: nowrap;
    height: 92vh;
    flex-direction: column;
  }

  .title-box {
    display: flex;
    width: 60vw;
    max-width: 80vw;
    min-width: 300px;
    flex-direction: row;
    flex: 8em;
  }

  .img-container {
    min-height: 100%;
    min-width: 7em;
    min-height: 7em;
    flex: 30%;
    display: block;
    flex-wrap: wrap;
  }

  .player-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3em;
    width: 7em;
  }

  .title {
    color: #ff87c7;
    font: 300 1em/1.5em "Lato", sans-serif;
    font-size: 8em;
    text-align: center;
    flex: 70%;
    flex-wrap: wrap;
    display: block;
  }

  .body-box {
    flex-direction: row;
    width: 100%;
    flex: 50%;
    display: flex;
  }

  .btn-cont {
    flex: 50%;
    margin-bottom: 20vh;
  }

  .btn-row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex: 50%;
    flex-direction: row;
    text-align: center;
    font: 300 1em/1.5em "Lato", sans-serif;
    font-size: 2em;
  }

  .large-btn {
    position: relative;
    margin: auto;
    top: 10%;
    width: 50%;
    min-height: 100px;
    height: 35%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .btn-1 {
    left: 40%;
  }

  .btn-2 {
    left: 10%;
  }

  @import "../CSS/Common.scss";
}
