commands:
  01mount:
    command: "aws ec2 attach-volume --region us-east-2 --volume-id vol-06a3af0a0a6bcdc5f --instance-id $(curl -s http://169.254.169.254/latest/meta-data/instance-id) --device /dev/sdf"
    test: "[ ! -b /dev/sdf ]"
  02wait:
    command: "sleep 10"
  03mkswap:
    command: "/bin/bash .ebextensions/scripts/add-swap-space.sh"
    ignoreErrors: true

