.bTree {
  font-size: 20px;

  &.content {
    display: flex;
    color: #000;
    flex-direction: column;
  }
  &.row-1 {
    display: flex;
    min-height: 100px; /* previously min-height: 2.5vh; */
    vertical-align: middle;
  }

  &.canvasContainer {
    max-width: 1000px;
    object-fit: contain;
  }

  &.row-2 {
    display: flex; /* previously display: flex*/
    max-height: 25px;
  }

  &.treeCanvas {
    width: 100%;
    background: #ccc;
    order: 2;
    background-size: contain;
    border-radius: 3px;
    object-fit: contain;
  }
  &.p {
    width: 100%;
    order: 3;
    /*background: #ccc;*/
    background-size: contain;
    border-radius: 3px;
  }
}
