.bTree {
  font-size: 20px;

  .content {
    display: flex;
    color: #000;
    flex-direction: column;
  }
  .canvas-row {
    display: flex;
    min-height: 100px;
    vertical-align: middle;
  }

  .canvasContainer {
    max-width: 1000px;
    object-fit: contain;
  }

  .array-row {
    display: flex;
  }

  .treeCanvas {
    width: 100%;
    background: #ccc;
    order: 2;
    background-size: contain;
    border-radius: 3px;
    object-fit: contain;
  }
  p {
    width: 100%;
    order: 3;
    background-size: contain;
    border-radius: 3px;
  }

  .buttonContainer {
    position: absolute;
    button {
      padding: 10px;
    }

    .passing {
      color: green;
    }

    .failing {
      color: red;
    }
  }
}
