.defences {
  display: flex;
  flex-flow: column;

  @import "./Common.scss";

  .body {
    background: white;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    display: flex;
  }
  p {
    text-align: center;
    font: 300 1em/1.5em "Lato", sans-serif;
    font-size: 1em;
  }

  .results {
    width: 100%;
    display: flex;
    flex-flow: column;
  }

  .defences-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5vh;
    .not-buyable {
      color: red;
    }
    .defence {
      white-space: normal;
      margin: 0.5vw;
      min-width: 40px;
      min-height: 20px;
      max-width: 80px;
      max-height: 45%;
      border: 1px solid #ddd;
      color: black;
      float: right;
      flex: 50%;
    }
    .column {
      margin-left: 1%;
      min-height: 20px;
      max-height: 80px;
      margin-top: 1%;
      flex: 50%;
      color: black;
      display: block;
      font: 300 1em/1.5em "Lato", sans-serif;
      font-size: 0.75em;
      flex-wrap: wrap;
    }
  }

  @import "./SelectMenu.scss";
}
