.defences {
  display: flex;
  flex-flow: column;

  .body {
    background: white;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    display: flex;
  }
  p {
    text-align: center;
    font: 300 1em/1.5em "Lato", sans-serif;
    font-size: 1em;
  }
  .sidebar {
    background: #f1f1f1;
    border: 1px solid #ddd;
    padding: 1em;
    height: 100%;
    width: 25%;
    min-height: 20px;
    .bootstrap-styles {
      .btn {
        border: 1px solid #ddd;
        min-width: 40px;
        min-height: 80px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 0.25em;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .column {
          margin-left: 1%;
          min-height: 100%;
          margin-top: 1%;
          flex: 50%;
          color: black;
          display: block;
          font: 300 1em/1.5em "Lato", sans-serif;
          font-size: 1em;
          flex-wrap: wrap;
        }
      }
    }
  }

  .results {
    width: 100%;
    display: flex;
    flex-flow: column;
  }

  .defences-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5vh;
    .defence {
      white-space: normal;
      margin: 0.5vw;
      min-width: 40px;
      min-height: 20px;
      max-width: fit-content;
      max-height: 45%;
      border: 1px solid #ddd;
      color: black;
      float: right;
      flex: 50%;
    }
  }

  .bootstrap-styles {
    @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";
  }
}
