$radius: 10px;

.health-bar {
  top: 0;
  position: absolute;
  width: 50%;
  height: 58px;
  pointer-events: none;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;

  @mixin bar {
    min-height: 100%;
    width: 100%;
  }

  .bar-container {
    width: 100%;
  }

  .bar-label {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 100;
    text-align: center;
  }

  .outline-text {
    color: black;
    font-size: 3em;
    font-family: sans-serif;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .myHp {
    @include bar;
    border-bottom-left-radius: $radius;
    transform-origin: 0%;
    background-color: rgb(53, 53, 97);
  }

  .enemyHp {
    @include bar;
    border-bottom-right-radius: $radius;
    transform-origin: 100%;
    background-color: rgb(145, 72, 72);
  }
}
