$radius: 5px;

.health-bar {
  z-index: 50;
  top: 0;
  position: absolute;
  width: 50%;
  height: 5%;
  pointer-events: none;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
  border-left: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(255, 255, 255, 0);

  @mixin bar {
    min-height: 100%;
    width: 100%;
  }

  .bar-container {
    width: 100%;
  }

  .bar-label {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    text-align: center;
    display: table;
  }

  .outline-text {
    display: table-cell;
    color: black;
    font-family: sans-serif;
    -webkit-text-stroke-color: black;
    vertical-align: middle;
  }

  @media screen and (min-width: 601px) {
    .outline-text {
      font-size: 1em;
    }
  }

  @media screen and (max-width: 600px) {
    .outline-text {
      font-size: 2.5vh;
    }
  }

  .myHp {
    @include bar;
    border-bottom-left-radius: $radius;
    transform-origin: 0%;
    background-color: rgba(99, 122, 237, 0.9);
  }

  .enemyHp {
    @include bar;
    border-bottom-right-radius: $radius;
    transform-origin: 100%;
    background-color: rgba(237, 99, 99, 0.9);
  }
}
