.hud-buttons {
  right: 0;
  position: absolute;
  width: 15%;
  .bootstrap-styles {
    .btn {
      position: "absolute";
      border: none;
      border-radius: 1px;
      margin-bottom: 5%;
      margin-top: 5%;
      margin-right: 10%;
      width: 90%;
      height: 10%;
      background-color: rgba(241, 241, 241, 0.7);
      display: flex;
      .hud-column {
        margin-left: 1%;
        min-height: 100%;
        margin-top: 1%;
        flex: 50%;
        color: black;
        display: block;
        font: 300 1em/1.5em "Lato", sans-serif;
        font-size: 1em;
        flex-wrap: wrap;
      }
    }
    .top-btn {
      margin-top: 10%;
    }
    .btm-btn {
      margin-top: 170%;
      margin-bottom: 10%;
      font: 300 1em/1.5em "Lato", sans-serif;
      font-size: 1em;
      text-align: center;
      color: black;
      display: block;
    }
  }
}
