.hud-buttons {
  float: right;
  width: 20vw;
  .bootstrap-styles {
    .btn {
      position: "absolute";
      border: "1px solid rgba(0,0,0,.2)";
      border-radius: "6px";
      margin-bottom: 5%;
      margin-top: 5%;
      margin-right: 15%;
      width: 85%;
      height: 10vh;
      background-color: rgba(241, 241, 241, 0.5);
      display: flex;
      .hud-column {
        margin-left: 1%;
        min-height: 100%;
        margin-top: 1%;
        flex: 50%;
        color: black;
        display: block;
        font: 300 1em/1.5em "Lato", sans-serif;
        font-size: 1em;
        flex-wrap: wrap;
      }
    }
    .top-btn {
      margin-top: 10%;
    }
    .btm-btn {
      margin-top: 90%;
      font: 300 1em/1.5em "Lato", sans-serif;
      font-size: 1em;
      text-align: center;
      color: black;
      display: block;
    }
  }
}
