$image-width: 100%;

.imageProblem {
  .wrapper {
    max-height: 100%;
    max-width: 100%;
    background: #ccc;
    display: flex;
    flex-direction: column;
    background-size: contain;
    border-radius: 3px;
  }
  .content {
    display: flex;
    flex: 1;
    background: #999;
    color: #000;
    flex-direction: column;
  }

  @mixin row {
    justify-content: center;
    background-size: contain;
    display: flex;
    background-color: #666;
    font-family: "Lato", sans-serif;
    font-weight: 300;
  }
  .row-1 {
    @include row;
    min-height: 20px;
    vertical-align: middle;
  }
  .row-2 {
    @include row;
    min-height: 37.5%;
  }
  .main {
    flex: 1;
    order: 3;
    background: #666;
  }
  @mixin image {
    width: $image-width;
    height: $image-width;
    object-fit: contain;
    background: #666;
    background-size: contain;
  }
  .image-first {
    @include image;
    order: 2;
    border-bottom-left-radius: 3px;
  }
  .image-second {
    @include image;
    order: 4;
    border-bottom-right-radius: 3px;
  }
  @mixin caption {
    width: $image-width;
    background: #ccc;
    text-align: center;
    padding-bottom: 5px;
    font-size: 1.25em;
  }
  .caption-first {
    @include caption;
    order: 2;
    border-top-left-radius: 3px;
  }
  .caption-second {
    @include caption;
    order: 4;
    border-top-right-radius: 3px;
  }
}
