.loading-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.9);

  .spinner {
    text-align: center;
    position: fixed;
    top: 43%;
    left: 47.5%;
    margin: 0 auto;
  }

  .loader-wrapper {
    position: relative;
    top: 43%;
    left: 47.5%;
    margin: 0 auto;
    display: inline-block;
    padding: 10px;
    height: 62px;
    width: 62px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.8);
  }

  .text-container {
    position: relative;
    overflow: hidden;
    top: 60%;
    padding-top: 5%;
    left: 47.5%;
  }

  .loading-text {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    font: 300 1em/1.5em "Lato", sans-serif;
    font-size: 1em;
    color: #000000;
  }

  .loader {
    position: relative;
    width: 62px;
    height: 77px;
    margin: 0 auto;
    zoom: 0.5;
    div {
      position: absolute;
      display: block;
      margin: 0;
      padding: 0;
      width: 10px;
      height: 24px;
      background-color: rgba(255, 255, 255, 0);
      transform: scale(0.4);
      animation: fadeG 0.72s infinite linear;
      border-radius: 8px;

      &:nth-of-type(1) {
        left: 0;
        top: 28px;
        animation-delay: 0.27s;
        transform: rotate(-90deg);
      }

      &:nth-of-type(2) {
        left: 8px;
        top: 10px;
        animation-delay: 0.36s;
        transform: rotate(-45deg);
      }

      &:nth-of-type(3) {
        left: 26px;
        top: 3px;
        animation-delay: 0.45s;
        transform: rotate(0deg);
      }

      &:nth-of-type(4) {
        right: 8px;
        top: 10px;
        animation-delay: 0.54s;
        transform: rotate(45deg);
      }

      &:nth-of-type(5) {
        right: 0;
        top: 28px;
        animation-delay: 0.63s;
        transform: rotate(90deg);
      }

      &:nth-of-type(6) {
        right: 8px;
        bottom: 7px;
        animation-delay: 0.72s;
        transform: rotate(135deg);
      }

      &:nth-of-type(7) {
        bottom: 0;
        left: 26px;
        animation-delay: 0.8099999999999999s;
        transform: rotate(180deg);
      }

      &:nth-of-type(8) {
        left: 8px;
        bottom: 7px;
        animation-delay: 0.9s;
        transform: rotate(-135deg);
      }
    }
  }

  @keyframes fadeG {
    0% {
      background-color: rgba(255, 255, 255, 1);
    }
    100% {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}
