@mixin center {
  left: 0;
  right: 0;
  top: 10vh;
  margin: auto;
}

.menuWindow {
  @include center;
  position: absolute;
  min-height: 200px;
  height: 90vh;
  max-height: 400px;
  width: 50vw;
  max-width: 300px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  border-radius: 6px;
}

@media screen and (max-height: 375px) {
  .menuWindow {
    height: 50vh;
  }
}
