body{
  margin: 0;
} 
.ReactModal__Content--after-open {
  max-height: 90vh;
}

.ace_editor {
  width: 100% !important;
}

.wrapper{
  max-height: 50vh;
  max-width: 50vw;
  background: #ccc;
  display: flex;
  flex-direction: column;
  background-size: contain;

}
.header, .footer{
  min-height: 20px; /* previously 5vh*/
  background: #666;
  color: #fff;
  text-align: center;
}
.content {
  display: flex;
  flex: 1;
  background: #999;
  color: #000;
  flex-direction: column;

}
.row-1{
  display: flex;
  flex:0.1;
  min-height: 20px;
  vertical-align: middle;
  background-size: contain;


}
.row-2{
  display: flex;
  flex:1;
  min-height: 37.5%;
  background-size: contain;

}
.main{
  flex: 1;
  order: 3;
  background: #eee;
}
.image-first{
  width: 49%;
  background: #ccc;
  order: 2;
  background-size: contain;

}
.image-second{ 
  width: 49%;
  order: 4;
  background: #ddd;
  background-size: contain;
}

.caption-first{
  width: 49%;
  background: #ccc;
  order: 2;
  text-align: center;
  padding-bottom: 5px;


}
.caption-second{ 
  width: 49%;
  order: 4;
  background: #ddd;
  text-align: center;
  padding-bottom: 5px;
}

.sidebar-1{
  flex: 1;
  order: 1;
  background: #eee;
}
.sidebar-2{
  flex: 1;
  order: 5;
  background: #eee;
}