body{
  margin: 0;
} 
.wrapper{
  max-height: 100vh;
  background: #ccc;
  display: flex;
  flex-direction: column;
}
.header, .footer{
  min-height: 10vh;
  background: #666;
  color: #fff;
  text-align: center;
}
.content {
  display: flex;
  flex: 1;
  background: #999;
  color: #000;
  flex-direction: column;
}
.row-1{
  display: flex;
  flex:0.1;
  min-height: 5vh;
  vertical-align: middle;

}
.row-2{
  display: flex;
  flex:3;
  min-height: 75vh;
}
.main{
  flex: 1;
  order: 3;
  background: #eee;
}
.image-first{
  width: 49%;
  background: #ccc;
  order: 2;
}
.image-second{ 
  width: 49%;
  order: 4;
  background: #ddd;
}

.caption-first{
  width: 49%;
  background: #ccc;
  order: 2;
  text-align: center;
  padding-bottom: 5px;


}
.caption-second{ 
  width: 49%;
  order: 4;
  background: #ddd;
  text-align: center;
  padding-bottom: 5px;


}

.sidebar-1{
  flex: 1;
  order: 1;
  background: #eee;
}
.sidebar-2{
  flex: 1;
  order: 5;
  background: #eee;
}