.regexContainer {
  padding: 10px;
  color: white;
  word-wrap: break-word;
  margin: auto;
  max-width: 60%;
}

.regexSupercontainer {
  max-width: 49%;
  width: 210px;
  margin: auto;
  background-image: url("assets/Door1-Resized-210px.png");
}
