.victory-overlay {
  @import "./MenuWindow.scss";
  @import "./Common.scss";
  @import "./Menu.scss";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);

  .text-container {
    position: fixed;
    overflow: hidden;
    height: 20vh;
  }

  .victory-text {
    width: 100%;
    display: block;
    text-align: center;
    font: 300 1em/1.5em "Lato", sans-serif;
    font-size: 3em;
    color: #000000;
    top: 0;
    position: absolute;
    margin-top: 10%;
  }
  .btn-toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .btn {
      font: 300 1em/1.5em "Lato", sans-serif;
      border: 1px solid #ddd;
      font-size: 1.5em;
      min-width: 40px;
      min-height: 50px;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      width: 75%;
      bottom: 0;
      position: absolute;
    }
  }
}
